<!-- Launch File for running svo with ceres backend from bag-file -->
<!-- Xie Chen, 2022/02/09 -->
<launch>

  <!-- calibration params: use stereo file to simulate 2 cameras -->  
  <arg name="calib_file" default="$(find svo_ros)/param/calib/m2dgr_multicam.yaml"/>

  <!-- SVO node -->
  <node pkg="svo_ros" type="svo_node" name="svo" clear_params="true" output="screen" args="--v=0" >

    <!-- Suppose we have 6 cameras, because SVO treats them independently -->
    <param name="cam0_topic" value="/camera/left/image_raw" type="str" />
    <param name="cam1_topic" value="/camera/right/image_raw" type="str" />
	  <param name="cam2_topic" value="/camera/third/image_raw" type="str" />
    <param name="cam3_topic" value="/camera/fourth/image_raw" type="str" />
    <param name="cam4_topic" value="/camera/fifth/image_raw" type="str" />
    <param name="cam5_topic" value="/camera/sixth/image_raw" type="str" />

    <!-- Imu topic to subscribe to -->
    <param name="imu_topic" value="/handsfree/imu" type="str" />

    <!-- Camera calibration file -->
    <param name="calib_file" value="$(arg calib_file)" />

    <!--Parameters-->
    <rosparam file="$(find svo_ros)/param/vio_mono.yaml" />
    <param name="runlc" value="true" /> <!--Loop Closing-->
    <param name="multi_cam" value="true" />  <!--Whether to use multi-cameras-->
    <param name="use_ExactPolicy" value="false" />  <!--use ExactPolicy or ApproximatePolicy-->

  </node>

  <!-- convert sensor_msgs/CompressedImage to sensor_msgs/Image  -->
  <node name="image_transport0" pkg="image_transport" type="republish" args="compressed in:=/camera/left/image_raw raw out:=/camera/left/image_raw" />
  <node name="image_transport1" pkg="image_transport" type="republish" args="compressed in:=/camera/right/image_raw raw out:=/camera/right/image_raw" />
  <node name="image_transport2" pkg="image_transport" type="republish" args="compressed in:=/camera/third/image_raw raw out:=/camera/third/image_raw" />
  <node name="image_transport3" pkg="image_transport" type="republish" args="compressed in:=/camera/fourth/image_raw raw out:=/camera/fourth/image_raw" />
  <node name="image_transport4" pkg="image_transport" type="republish" args="compressed in:=/camera/fifth/image_raw raw out:=/camera/fifth/image_raw" />
  <node name="image_transport5" pkg="image_transport" type="republish" args="compressed in:=/camera/sixth/image_raw raw out:=/camera/sixth/image_raw" />

  <!-- RVIZ default config: rviz_config_vio.rviz  -->
  <node name="vis" pkg="rviz" type="rviz" args=" -d $(find svo_ros)/rviz_config_mono_m2dgr_multicam.rviz" />

</launch>
